/************************************************/
/*    Vraag me niet andere mensen te worden     */
/************************************************/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #EEE;
}

html, body {
    height: 100%;
}

body {
    color: #000;
    font-family: Georgia, Skolar, 'ff-meta-serif-web-pro', Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    line-height: 1em;
}

/* ---------------------- */

/* typography */

h1, h2, h3 {
    font-family: 'Helvetica Neue', Helvetica, "pragmatica-web", Arial, sans-serif;
    letter-spacing: -0.05em;
    text-align: left;
}

h1 {
    font-size: 6em;
    color: #BD0000;
}

h2 {
    font-size: 2.2em;
    line-height: 1.4em;
}

h3 {
    font-size: 1.4em;
    color: #BD0000;
}

h4 {
    font-size: .4em;
    text-transform: uppercase;
    font-family: 'ff-meta-serif-web-pro', Georgia, Times, "Times New Roman", serif;
}

blockquote {
    font-family: Skolar, 'ff-meta-serif-web-pro', Georgia, Times, "Times New Roman", serif;
    font-size: 2.5em;
    line-height: 1em;
    letter-spacing: -0.05em;
    font-weight: normal;
    text-align: center;
}

p {
    font-size: 0.55em;
    margin-bottom: 40px;
    padding-left: 20px;
}

a {
    color: #A1AC88;
}

.nadruk {
    border-bottom: solid .2em #036564;
    padding-bottom: .06em;
}

/* ---------------------- */

/* lay-out */

section {
    padding: 0;
}

.story-content {
    margin: 0 auto;
}

.site-width {
    width: 98%;
    max-width: 900px;
    margin: 0 auto;
}

.copy-width {
    background: white;
    width: 96%;
    margin: 0 auto;
    padding: 40px 80px;
}

/* ---------------------- */

/* sections */

.head {
    background: #EEE;
}

.head h1 {
    font-family: Skolar, 'ff-meta-serif-web-pro', Georgia, Times, "Times New Roman", serif;
    line-height: 1em;
    color: #333;
    font-size: 2.8em;
}

.lead {
    background: #000 url('../img/lead.jpg');
    height: 400px;
}

/* ---------------------- */

.verandering {
    margin-top: -100px;
}

.cola {
        background: url('../img/cola.jpg') no-repeat right;
}

/* ---------------------- */
